// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

// $vvpao1: #7C9A38;
// $vvpao2: #869A57;
// $vvpao3: #B0CC73;
// $vvpao4: #C9E882;
// $base: #414E24;

// $plight: #7C289A;
// $pdark: #43244E;
// $bg: #f4f4f4;
// $bg-l: #f7f7f7;
// $bglight: #fbfbfb;

$vvpao1: #660200;
$vvpao2: #C25325;
$vvpao3: #660200;
$vvpao4: #F49367;
$base: #660200;

$plight: #F49367;
$pdark: #660200;
$bg: #f4f4f4;
$bg-l: #f7f7f7;
$bglight: #fbfbfb;
