// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$green1: #7C9A38;
$green2: #869A57;
$green3: #B0CC73;
$green4: #C9E882;
$base: #414E24;
$plight: #7C289A;
$pdark: #43244E;
$bg: #f4f4f4;
$bg-l: #f7f7f7;
$bglight: #f9f9f9;
