.page-header {
  margin: 1% 3%;
  border-bottom: solid 2px $base;
}

.container-fluid {
  margin: 1% 3%;
  padding: 0px 0px;
}

.page-box {
  height: 100%;
  margin: 10px 0px 0px 0px;
  padding: 0px 20px 50px 0px;
}

.sub-page {
  padding: 0px 0px 50px 0px;
}

.link :hover {
  color: $green3;
}

.flex {
  display: flex;
}

.gob {
  width: 26%;
  color: black;
  font-weight: bold;
}
