<div class="footer hidden-xs">
  <div class="footer-text-blok">
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo.png", height: 50 %>
    <% end %>
  </div>
  <div class="footer-text-blok">
    <div class="info-header-foot">
      VVPAO Amsterdam
    </div>
    <p class="info-header-foot-text">
      Vereniging van Vrijgevestigd Psychiaters<br>Amsterdam en Omstreken
    </p>
  </div>
  <div class="footer-text-blok">
    <div class="info-header-foot">
      Secretariaat VVPAO
    </div>
    <p class="info-header-foot-text">Henriëtte Roland<br>Holststraat 19<br>1064TS Amsterdam<br>
    <a href="mailto:info@vvpao.amsterdam">
      <span class="info-header-foot-text">
      info@vvpao.amsterdam
      </span>
    </a>
  </div>
  <div class="footer-text-blok">
    <a href="http://eepurl.com/cOAVd5">
      <p class="info-header-foot-text">
        Schrijf u hier in voor onze nieuwsbrief.
      </p>
    </a>
  </div>
</div>
<!-- footer on mobile -->
<div class="footer-list hidden-sm hidden-md hidden-lg">
  <div class="footer-text-blok">
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo.png", height: 50 %>
    <% end %>
  </div>
  <div class="footer-text-blok">
    <div class="info-header-foot">
      VVPAO Amsterdam
    </div>
    <p class="info-header-foot-text">
      Vereniging van Vrijgevestigd Psychiaters<br>Amsterdam en Omstreken
    </p>
  </div>
  <div class="footer-text-blok">
    <div class="info-header-foot">
      Secretariaat VVPAO
    </div>
    <p class="info-header-foot-text">Henriëtte Roland<br>Holststraat 19<br>1064TS Amsterdam<br>
    <a href="mailto:info@vvpao.amsterdam">
      <span class="info-header-foot-text">
      info@vvpao.amsterdam
      </span>
    </a>
  </div>
  <div class="footer-text-blok">
    <a href="http://eepurl.com/cOAVd5">
      <p class="info-header-foot-text">
        Schrijf u hierin voor onze nieuwsbrief.
      </p>
    </a>
  </div>
</div>
