<div class="page-header header1">
  Aanvraag voor lidmaatschap
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-12 col-sm-10 col-md-8 page-box">
    </div>
  </div>
</div>
<%= link_to "terug", root_path, class: "knop knop-linksonder" %>
