<div class="page-header header1">
  Lidmaatschap
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-12 col-sm-10 col-md-8 page-box">
        Lid worden van de VVPAO kan wanneer men:
      <ul>
        <li>vrijgevestigd psychiater is, binnen, maar ook buiten, Amsterdam</li>
        <li>zich ooit vrij wil vestigen, dus elke psychiater die het overweegt</li>
        <li>in opleiding is tot psychiater</li>
      </ul>
      <br>
      Op dit moment heeft de vereniging circa 140 leden.
      <br>
      De lidmaatschapskosten zijn €100 p.j. (aftrekbaar)
      <br>
      Met het lidmaatschap draagt u vooral bij aan het in stand houden van dit netwerk.
      <br>
      Het netwerk bestaat uit de leden, de nascholingen/bijeenkomsten, de website/ledenpagina en de mails.
  <br><br>
      <%= link_to "wordt lid", apply_path, class: "knop knop-linksonder-page-box" %>
    </div>

    <div class="col-xs-12 col-sm-2 col-md-4 page-box">
      <div class="logo-box">
      <%= image_tag ("logo.png"), class: "logo" %>
      </div>
    </div>
  </div>
</div>

<%= link_to "terug", root_path, class: "knop knop-linksonder" %>
