.user-index {
  margin-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px $base;
}


.user-data {
  width: 60%;
  height: 50px;
}

.email :hover {
  color: $green3;
}

@media screen and (min-width: 601px) {
  .user-image {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 600px) {
  .user-image {
    width: 60px;
    height: 60px;
  }
}
