.user-index {
  margin-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px $base;
}

.user-data {
  width: 60%;
  height: 50px;
}

.user-image {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin: 5px;
}

.user-card-outer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.user-card {
  width: 300px;
  height: 180px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  border-radius:3px;
}

.user-card-text-1 {
 width: 220px;
 padding: 5px;
 font-size: 18px;
}

.user-card-text-2 {
 width: 300px;
 padding: 10px 10px 10px 30px;
 font-size: 14px;
}


@media screen and (min-width: 601px) {

}

@media screen and (max-width: 600px) {

}
